@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


.Home_container__bCOhY{
  padding: 0px !important;
}

/* common css */
.sec-space{
  @apply py-12 md:py-16 lg:py-20 xl:py-28 relative
}

/* common css */


/* hero sec */
.hero-sec{
  @apply h-screen bg-[#FFDE00] sec-space flex items-center
}

.hero-title{
  @apply text-3xl md:text-4xl lg:text-5xl xl:text-[120px] font-bold
}


/* about sec */


.about-sec{
  @apply relative sec-space flex items-center h-screen bg-[#34AB01]
}


/* company sec */

.company-sec{
  @apply relative sec-space flex items-center h-screen bg-[#D72324]
}

/* Advantages */

.advantages-sec{
  @apply relative sec-space flex items-center h-screen
}


/* contact us sec */

.contact{
  @apply bg-[#34AB01] h-screen 
}



.swiper {
  @apply h-full w-full;
}

.swiper-slide {
  @apply text-center text-xl bg-white flex justify-center items-center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;


  @apply 
}


