@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.Home_container__bCOhY{
  padding: 0px !important;
}
body{
  font-family: montserrat;
}

/* common css */

@layer base{
  p{
    @apply text-left font-["Montserrat"]
  }
}


@layer components{
  .contact-container{
    @apply w-full md:w-full lg:w-[984px] mx-auto flex flex-col justify-start items-start
  }
  
  .hero-title{
    @apply text-[40px] md:text-[60px] lg:text-[80px] xl:text-[100px] 2xl:text-[120px] font-bold leading-normal 
  }

  .sec-title{
    @apply text-[70px] font-extrabold leading-[1.5] text-left
  }

  .btn-primary{
   @apply bg-[#fff] hover:bg-[#fff] text-black outline-none border-0 px-12 py-4 text-xl rounded-xl font-medium
  }

  .btn-secondary{
    @apply bg-transparent flex gap-3 items-center hover:bg-transparent border-2 border-[#000000] hover:border-[#000000]
     text-black w-fit outline-none px-8 py-4 text-xl rounded-xl font-medium
  }

  .sec-space{
  @apply py-12 md:py-16 lg:py-20 xl:py-[8.2rem] relative
  }


  .advantages-card{
    @apply w-full 
  }

  .c-title{
    @apply  flex gap-4 items-center
  } 

  .contact-title{
    @apply text-left font-semibold text-[22px]
  }

  .contact-info{
    @apply text-[17px] font-normal
  }

  .input-element{
    @apply bg-[#EEEEEE] w-full max-w-xs mb-4 input-bordered
  }

}



/* common css */


/* hero sec */
.hero-sec{
  @apply h-screen bg-[#FFDE00] sec-space flex items-center
}


/* about sec */


.about-sec{
  @apply relative sec-space flex items-center justify-items-start h-screen bg-[#34AB01]
}


/* company sec */

.company-sec{
  @apply relative sec-space flex h-screen bg-[#D72324] w-full items-center
}

/* Advantages */

.advantages-sec{
  @apply relative sec-space flex items-center h-screen
}

.c-title figure{
  @apply w-8 h-8 flex justify-center items-center 
}

.c-content{
  @apply flex justify-start text-white text-left text-[15px] pl-12 leading-normal
}


/* contact us sec */

.contact{
  @apply bg-[#34AB01] h-screen sec-space justify-center items-center 
}

.swiper {
  @apply h-screen w-full;
}

.swiper-slide {
  @apply text-center text-xl bg-white flex justify-center items-center;
}

.swiper-slide img {
  @apply block w-full h-full object-cover
}

/* project sec */
.project{
  @apply h-screen w-full flex relative bg-[#FFDE00] sec-space items-center justify-center
}

.project-card-wrapper {
  @apply max-w-[800px] grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 w-full gap-12 relative mt-20 
}

.pc-card{
  @apply w-full h-fit flex gap-2
}

.pvt {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  @apply rotate-180 flex justify-end text-base
}

/* swiper */

.swiper-vertical .swiper-pagination-vertical.swiper-pagination-bullets,
.swiper-vertical>.swiper-pagination-bullets
{
  right:5vmin !important ;
}

.swiper-pagination-clickable .swiper-pagination-bullet{
  @apply w-[12px] h-[12px] bg-transparent 
}

.swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet, 
.swiper-vertical>.swiper-pagination-bullets .swiper-pagination-bullet{
   @apply bg-[#FFFFFF] border-[1px] border-[#FFF]
}
